Dictionary

    Dictionary stores element as keys and value pairs
    The key is like an index, its always unique & immutable
    The values are the objects that contain information
    Values are accessed using their keys
    Each key is followed by a value separated by a colon
    The values can be immutable, mutable, & duplicates
    Each key and value pair is separated by a comma enclosed inside curly brackets

In [2]:
# Creating a dictionary

d1 = {"India": "INR", "USA": "USD", "Hong Kong": "HKD"}
# Accessing value using keys

d1["India"]

'INR'

In [4]:
# Replacing the value for a key in a dictionary
d1["India"] = "PKR"
d1

{'India': 'PKR', 'USA': 'USD', 'Hong Kong': 'HKD'}

In [5]:
d1["Japan"] = "PKR"
d1

{'India': 'PKR', 'USA': 'USD', 'Hong Kong': 'HKD', 'Japan': 'PKR'}

In [6]:
# Deleting a key value pair
del d1["India"]
d1

{'USA': 'USD', 'Hong Kong': 'HKD', 'Japan': 'PKR'}

In [8]:
# Sorting a dictionary
sorted(d1)

['Hong Kong', 'Japan', 'USA']

In [9]:
# keys() method
d1.keys()

dict_keys(['USA', 'Hong Kong', 'Japan'])

In [10]:
# get() method
d1.get("Japan")

'PKR'

In [11]:
# update() method
d1.update({"USA":"PKR"})
d1

{'USA': 'PKR', 'Hong Kong': 'HKD', 'Japan': 'PKR'}

Practice Codes
Question 1
Description

Write code to fetch the profession of the employee with Employee id - 104 from an employee input given in the form of a dictionary where key represent employee id and values represent the name, age, and profession (in the same order).

Sample input:

Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

Sample output:

'Product Lead'

Note: Assume that employee data would be available in the data provided to you

In [12]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

In [15]:
employee = Employee_data[104]
employee

['Ansari', 29, 'Product Lead']

In [16]:
employee[2]

'Product Lead'

Question 4
Description

From a Dictionary input_dict={'Name': 'Monty', 'Profession': 'Singer' }, get the value of a key based on user input which is not a part of the dictionary, in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA'.

Sample Input:

{'Name': 'Monty', 'Profession': 'Singer' }

Sample Output:

NA

In [18]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }

if "Label" in input_dict.keys():
    print(input-dict.get("Label"))
else:
    print("NA")

NA

In [21]:
#Short Cut

input_dict.get("Label","NA")

'NA'

Question 5

    List of Values in a Dictionary.

Description

Create a SORTED list of all values from the dictionary input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

Sample Input:

{'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

Sample Output:

ï»¿['Amazon', 'Apple', 'RJIO', 'Twitter']

In [22]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

In [25]:
lists = list(input_dict.values())
lists

['Twitter', 'Apple', 'Amazon', 'RJIO']

In [27]:
sort_list = sorted(lists)
sort_list

['Amazon', 'Apple', 'RJIO', 'Twitter']