In [2]:
list1 = ["Gaza", "Palestine","Watermelon"]

In [3]:
list1

['Gaza', 'Palestine', 'Watermelon']

In [4]:
print(len(list1))
print(type(list1))

3
<class 'list'>

In [6]:
#Nested list
nest = [1,2,3,[4,5]]
print(nest)

[1, 2, 3, [4, 5]]

In [8]:
nest[3][0]

4

In [10]:
nest[3][-2]

4

In [13]:
nest[-1][-2]

4

In [14]:
#list concat
list1 = [1,2,3,4]
list2 = [5,6,7,8]

In [15]:
new_list = list1 + list2

In [17]:
new_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
#Add two elements in an existing list
list3 = [1,2,3]
new_list1 = list3 + [4,5]
print(new_list1)

[1, 2, 3, 4, 5]

In [21]:
#Membership in list and tuples
lists = [1,2,3,4,5]
print(1 in lists)
print(6 in lists)

True
False

In [23]:
sub = ["Maths", "Physics", "Chemistry", "Biology"]

In [24]:
sub[3] = "Computer"

In [26]:
sub

['Maths', 'Physics', 'Chemistry', 'Computer']

In [31]:
#extend() function --> It extends the list
list2 = [1,2,3]
list2.extend([4,5])

In [35]:
print(len(list2))
list2

5

[1, 2, 3, 4, 5]

In [36]:
#append() function
list3 = [1,2,3]
list3.append([4,5])

In [37]:
list3

[1, 2, 3, [4, 5]]

In [39]:
#del command
list = [1,2,3]
del list[0]
list

[2, 3]

In [42]:
#pop() - Deletes the object based on the index value
# Default --> Removes the last element

list1 = [11,22,33,44]

list1.pop(1)
list1

[11, 33, 44]

In [45]:
#remove() - takes value as an input
list1 = [1,2,3,4]
list1.remove(4)
list1

[1, 2, 3]

In [48]:
#Sorting 
A = [9,5,2]
A.sort()
A

[2, 5, 9]

In [50]:
A.sort(reverse=True)
A

[9, 5, 2]

In [52]:
# Difference between sort & sorted
A = ["Oranges", "Strawberry", "Mango"]
B = A.sort()
print(A)

['Mango', 'Oranges', 'Strawberry']

In [54]:
print(B)

None

In [58]:
A = ["Oranges", "Strawberry", "Mango"]
B = sorted(A)
print(A)
print(B)

['Oranges', 'Strawberry', 'Mango']
['Mango', 'Oranges', 'Strawberry']

In [64]:
# shallow copy
A = ["Oranges", "Strawberry", "Mango"]
C = A
print(A)
print(B)

['Oranges', 'Strawberry', 'Mango']
['Oranges']

In [62]:
A.pop()

'Strawberry'

Questions

Description

Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, and convert it back to a tuple.

Sample Input: ('Monty Python', 'British', 1969)

Sample Output: ('Monty Python', 'British', 1969, 'Python')

In [4]:
input_tuple = ('Monty Python', 'British', 1969)

In [6]:
lists = list(input_tuple)

In [7]:
lists.append("Python")
lists

['Monty Python', 'British', 1969, 'Python']

In [9]:
new_tuple = tuple(lists)

In [11]:
new_tuple

('Monty Python', 'British', 1969, 'Python')

Description

Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.

A sample output of the input 'Kumar_Ravi_003' is:

In [15]:
input_str = 'Kumar_Ravi_003'
list = input_str.split("_")
list

['Kumar', 'Ravi', '003']

In [17]:
print("First Name: " + list[0])
print("Last Name: " + list[1])
print("Customer Code: " + list[2])

First Name: Kumar
Last Name: Ravi
Customer Code: 003

Questions
Question 1: A List and a Tuple Together?
Question 2: Indexing from the End

    Suppose list_1 is [2, 33, 222, 14, 25]. What is list_1[-5]?

Question 3: I Lost Everything!¶

    word = ['1','2','3','4']
    word[ : ] = [ ]
    print(word)

Sorted List

    Consider the following list:
    L = ['one','two','three', 'four', 'five', 'six']
    print(sorted(L))
    print (L)

In [19]:
list_tuple = [1,2,(3,4)]
list_tuple

[1, 2, (3, 4)]

In [21]:
list_1 = [2, 33, 222, 14, 25]
list_1[-5]

2

In [22]:
word = ['1','2','3','4']
word[:] = []
word

[]

In [26]:
L = ['one','two','three', 'four', 'five', 'six']
L.sort()
print(L)

['five', 'four', 'one', 'six', 'three', 'two']