#### Check if a number odd or even

In [3]:
x = 100

if x % 2 == 0:
    print(x, " is even number")
else:
    print(x, " is odd number")

100  is even number

In [4]:
x = 2

if x % 2 == 0:
    print(x, " is even number")
else:
    print(x, " is odd number")

2  is even number

#### < 18 & > 50 are not allowed for the party. --> 18 or above and 50 and below are allowed for the party.

In [5]:
age = int(input("Enter your age: "))

if age < 18 or age > 50:
    print("Sorry! you are not allowed")
else:
    print("You are allowed")

Enter your age:  22

You are allowed

### Iteration

In [7]:
#Iterate over a list of integers

list_1 = [10,20,30,40,50]

for i in list_1:
    print(i)

10
20
30
40
50

In [8]:
#Iterate over a String

str = "Samu"

for i in str:
    print(i)

S
a
m
u

In [12]:
#Iterate over a dictionary
students_data = {1: ["Sameen", 99], 2: ["Tooba", 52], 3: ["Naheen", 362], 4: ["Daniya", 300], 5: ["Amna", 278], 6: ["Manahil", 1], 7: ["Rutaba", 2]}

for key,value in students_data.items():
    print(key, value)

1 ['Sameen', 99]
2 ['Tooba', 52]
3 ['Naheen', 362]
4 ['Daniya', 300]
5 ['Amna', 278]
6 ['Manahil', 1]
7 ['Rutaba', 2]

In [13]:
for key in students_data.keys():
    print(key)

1
2
3
4
5
6
7

In [14]:
#Iterate over a range of values

for i in range(1,5+1):
    print(i)

1
2
3
4
5

### Comprehensions

In [17]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

newlist = []

for i in list_1:
    newlist.append(i)
newlist

['Automobiles', 'Honda', 'Benz', 'Maruti', 'Kia']

In [19]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = []

for i in list_1:
    list_2.append(len(i))
list_2

[11, 5, 4, 6, 3]

In [20]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = [len(i) for i in list_1]

list_2

[11, 5, 4, 6, 3]

In [21]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = {i: len(i) for i in list_1}

list_2

{'Automobiles': 11, 'Honda': 5, 'Benz': 4, 'Maruti': 6, 'Kia': 3}

In [22]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = {}

for i in list_1:
    list_2[i] = len(i)

list_2

{'Automobiles': 11, 'Honda': 5, 'Benz': 4, 'Maruti': 6, 'Kia': 3}